
/* MEDIA QUERIES */

@media screen and (max-width: 992px) {

  .menu{
    padding: 0;
  }

  .calendarioFecha {
    width: 90vw;
  }

  .flexequipos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .calendarioPartidos {
    flex-direction: column;
  }

  .calendarioHorario {
    padding: 10px 0px 10px 0px;
  }

  .menu {
    gap: 7px;
    display: flex;
    flex-direction: column;
  }

  .estadisticasfem {
    gap: 30px;
  }

  .imagenfemenino {
    width: 700px;
  }

  .multimedia {
    grid-template-columns: 1fr 1fr;
  }

  .imgmulti {
    width: 350px;
    height: 300px;
  }

  .overflow {
    padding: 0;
  }

  .maintitulos {
    padding: 0px;
  }

  .posiciones {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .calendarioHorario {
    display: none;
  }

  .verpartido {
    display: none;
  }

  .calendarioFecha {
    width: 100%;
  }

  .text__estadisticas {
    position: absolute;
    left: 125px;
  }

  .text__mejor {
    font-size: 13px;
  }

  .imagenfemenino {
    width: 350px;
  }

  .multimedia {
    grid-template-columns: 1fr;
  }

  .overflow {
    padding: 0;
  }

  .titulo {
    font-size: 20px;
  }

  .banfieldVoley {
    font-size: 20px;
  }

  .maintitulos {
    padding: 0px;
  }
  .posiciones {
    flex-direction: column;
  }

  h5 {
    padding-top: 20px;
  }
}
